# macOS
.DS_Store

# Intellij
**/.idea

# VSCode
.vscode/

# Yarn
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/patches
!.yarn/sdks
!.yarn/versions

dist
tsconfig.tsbuildinfo
node_modules
.turbo

/local/*

.env
.env.local

#Claude code

# Planning docs
.planning/
