name: "[Build] user-service docker image"

permissions:
  packages: write
  contents: write
  id-token: write

on:
  workflow_dispatch:
    inputs:
      env:
        description: "Environment to build"
        required: true
        type: choice
        options:
          - prod
          - stage
          - dev

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::570620554963:role/github_actions_ecr_vexl
          role-session-name: GithubActionsCloudInfrastructure
          aws-region: eu-west-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./apps/user-service/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          provenance: false
          tags: |
            ghcr.io/vexl-it/user-ms:latest
            ghcr.io/vexl-it/user-ms:${{inputs.env}}-${{ github.sha }}
            ${{ steps.login-ecr.outputs.registry }}/user-ms:${{inputs.env}}-${{ github.sha }}
          build-args: |
            SERVICE_VERSION=${{ github.sha }}
            ENVIRONMENT=${{ inputs.env }}
