name: "[Build] backoffice-app docker image"

on:
  workflow_dispatch:
    inputs:
      env:
        description: "Environment to deploy to"
        required: true
        type: choice
        options:
          - prod
          - stage

permissions:
  id-token: write
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::570620554963:role/github_actions_ecr_vexl
          aws-region: eu-west-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./apps/backoffice-app/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/vexl-it/backoffice-app:latest
            ghcr.io/vexl-it/backoffice-app:${{ inputs.env }}-${{ github.sha }}
            ${{ steps.login-ecr.outputs.registry }}/backoffice-app:latest
            ${{ steps.login-ecr.outputs.registry }}/backoffice-app:${{ inputs.env }}-${{ github.sha }}
          build-args: |
            SERVICE_VERSION=${{ github.sha }}
            ENVIRONMENT=${{ inputs.env }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
